<div id="cards-page">

<div class="search-wrapper">

  <h1 class="static-text">The Toolshed</h1>
  <% if !@tools.present? %>
    <p>No results for search: <span><%= params[:search] %></span>.</p>
  <% end %>
    <p id="notice"><%= notice %></p>

  <%= form_tag(tools_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for tools" %>
    <%= button_tag "Search", class: "success button search-button", id: "gh-success" %>
  <% end %>

    <%= link_to 'Reset', tools_path, class: "success button search-button reset-button", id: "gh-success" %>
</div>


<div id="cards" class='clearfix'>
  <div class='grid-sizer'></div>

  <% @tools.each do |tool| %>

  <div class="accordion card" data-accordion data-allow-all-closed="true">
    <div class="accordion-item" data-accordion-item>
      <a href="" class="accordion-title">
        <div>
          <div class="tool-image">
            <% if tool.image %>
              <%= image_tag tool.image %>
            <% else %>
              <%= image_tag "no-image.svg" %>
            <% end %>
          </div>
          <div class='item-heading'>
            <h4><%= tool.name.titleize %></h4>
            <br>
            <span class='emph'>Owner: </span
              <% @gardeners.each do |gardener| %>
                <% if tool.gardener == gardener %>
                  <span><%= gardener.username %></span>
                <% end %>
              <% end %>
          </div>
        </div>
      </a>
      <div class="accordion-content" data-tab-content>
        <div class="item-details">
          <h6>Details:</h6>
          <p><%= tool.details %></p>
        </div>
        <div class="item-links">

          <% if tool.gardener != current_gardener %>
            <%= link_to 'Request to borrow', new_request_path(tool: tool), class: "success button", id: "gh-success" %>
          <% end %>

          <% if tool.gardener == current_gardener %>
            <%= link_to 'Edit', edit_tool_path(tool), class: "success button", id: "gh-success" %>
            <%= link_to 'Destroy', tool, method: :delete, class: "success button", id: "gh-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>


<br>

<%= link_to 'New Tool', new_tool_path, class: "success button new-tool", id: "gh-success" %>

</div>
