<div>
  <div class="form">
    <h4> <%= title %> for: </h4>
    <h4 id="requested-tool"><%= @request.tool.name %></h4>

    <%= form_for(@request) do |f| %>


      <% if @request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being processed:</h2>

          <ul>
          <% @request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field" id="hidden-id">
        <%= f.label :tool_id, class: "static-text" %>
        <%= f.text_field :tool_id %>
      </div>
      <div class="field">
        <%= f.label :start_date, class: "static-text" %>
        <%= f.date_field :start_date, id: "start_date_form" %>
      </div>
      <div class="field">
        <%= f.label :end_date, class: "static-text" %>
        <%= f.date_field :end_date, id: "end_date_form" %>
      </div>
      <div class="field">
        <%= f.text_field :notes, placeholder: "Notes" %>
      </div>
      <div class="actions">
        <%= button_tag "Submit", class: "success button search-button" %>
      </div>
    <% end %>

    <%= link_to 'Back', tools_path, class: "success button search-button" %>
  </div>
</div>
