<p id="notice"><%= notice %></p>

<h1>YOUR REQUESTS</h1>

<h2>Tools You've Requested:</h2>
<table>
  <thead>
    <tr>
      <th>Tool</th>
      <th>Requested Dates</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @tools_user.each do |tool| %>
      <% @requests.each do |request| %>
        <% if tool.id == request.tool_id %>
          <%- if request.gardener == current_gardener %>
            <tr>
              <td><%= tool.name %></td>
              <td><%= request.start_date.to_s + ' until ' + request.end_date.to_s  %></td>
              <td><%= request.notes %></td>
              <td><%= request.status %></td>
              <td><%= link_to 'Edit', edit_request_path(request) %></td>
              <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end -%>
        <% end %>
      <% end -%>
    <% end -%>
  </tbody>
</table>

<h2>Requests Made for Your Tools:</h2>

<table>
  <thead>
    <tr>
      <th>Tool</th>
      <th>Requested Dates</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Requestor</th>
    </tr>
  </thead>

  <tbody>
      <% @tools.each do |tool| %>
        <% @requests.each do |request| %>
          <% if tool.id == request.tool_id %>
            <%- if request.gardener != current_gardener %>
              <tr>
                  <td><%= tool.name %></td>
                  <td><%= request.start_date.to_s + ' until ' + request.end_date.to_s  %></td>
                  <td><%= request.notes %></td>
                  <td><%= request.status %></td>
                  <td><%= request.gardener_id %></td>
              </tr>
            <% end -%>
          <% end %>
        <% end -%>
      <% end %>
  </tbody>
</table>
