<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gardenhood</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>

            <%= render 'layouts/mobile-nav' %>

        </div>

        <div class="off-canvas-content" data-off-canvas-content>

          <div class="title-bar" id="gh-title-bar">
            <div class="title-bar-left">
              <button id="gh-menu-icon" class="menu-icon" type="button" data-open="mobile-menu"></button>
              <span class="title-bar-title"><%= link_to 'GARDENHOOD', home_path%></span>
            </div>
          </div>

          <header>

              <%= render 'layouts/navbar' %>

          </header>


          <div class="wrapper"

            <%= yield %>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
